*, :after, :before, input {
  box-sizing: border-box;
}

body{
  font-family: 'Prompt', sans-serif;
}
  
ul, body, html{
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.h1, .h2, .h3, h1, h2, h3{
  font-weight: 500;
  line-height: normal;
}

[data-type_header_capitalize=true]{
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.h1, h1{
  font-size: 36px;
}

.h2, h2{
  font-size: 28px;
}

.h3, h3{
  font-size: 22px;
}

ul{
  list-style: none;
}

li{
  height: 40px;
  width: 100%;
  margin-bottom: 5px;
}

input{
  outline: none;
}

.item-content{
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 15px 10px 15px;
  background-color: #ffffff;
  border: solid 2px #7eb4be;
  border-radius: 7px;
  height: 55px;
  width: 100%;
  cursor: auto;
}

.show{
  display: block !important;
}

.hide{
  display: none !important;
}

.hide-with_translate{
  transform: translateY(100px) !important;
  opacity: 0 !important;
  transition: transform 400ms, opacity 300ms !important;
}

.hide-with_scale{
  transform: scale(0) !important;
  transition: transform 200ms !important;
}

.shadow{
  text-shadow: 0px 0px 7px #dddddd, 0 0 1em #000000;
}

.text-center{
  text-align: center;
}

.fas{
  width: 20px;
  height: 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #7f7f7f;
}

@media screen and (min-width: 768px) {
  .fas{
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}
  
body{
  background-image: linear-gradient(180deg,#6fa7b3 10%, #a3d4d7 100%);
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 600px;
  margin: auto;
  padding: 40px 25px;
  justify-content: space-evenly;
  position: relative;
}

h1, .h1{
  font-size: 30px;
  font-weight: 700;
  margin: 30% 0 30% 0;
  opacity: 0.7;
  color: #225053;
}

h2, .h2{
  font-weight: 700;
  margin: 25px 0 25px 0;
  color: white;
  font-size: 18px;
}

span{
  font-size: 6px;
  color: #ffffff;
  margin: 0 0 0 10px;
}

.titles .titles-no_tasks{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 0;
  right: 0;
  transform: scale(1);
  transition: transform 500ms;
}

.upcoming-list, .done-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new_task--wrap{
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: transform 400ms, opacity 300ms;
  padding: 30px 0px;
}

.new_task--wrap span{
  font-size: 12px;
  font-weight: 900;
}

.new_task--wrap .new_task{
  position: relative;
}

[data-action="confirm"],
[data-action="clean"],
[data-action="edit"],
[data-action="done"],
[data-action="remove"]{
  position: absolute;
  top: 0;
  height: 100%;
}

[data-action="remove"],
[data-action="clean"]{
  right: 10px;
}

[data-action="edit"]{
  right: 95px;
}

[data-action="confirm"],
[data-action="done"]{
  right: 50px;
}

@media screen and (min-width: 768px) {
  [data-action="edit"]{
    right: 115px;
  }
  
  [data-action="confirm"],
  [data-action="done"]{
    right: 60px;
  }

  [data-action="clean"]{
    transform: scale(1);
    transition: transform 200ms;
  }
  
  .item-upcoming .fas,
  .item-done .fas{
    transform: scale(0);
    transition: transform 200ms;
  }
  
  .item-upcoming:hover .fas,
  .item-done:hover .fas{
    transform: scale(1);
    transition: transform 200ms;
  }
}


.item-done{
  background-color: #94c7cd;
  color: #ffffff;
  text-decoration: line-through;
} 

.todo-form{
  font-weight: 700;
  font-size: 10.5px;
}

.task_lists .todo-active .add-input{
  display: none;
}
      
.btn-actions{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.btn-actions [data-button-action]{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0px 5px 15px 1px #757575;
  display: block;
  font-size: 40px;
  transition: all 0.5s;
  color: white;
}

[data-button-action]:hover{
  box-shadow: 0px 5px 15px 1px #ffffff;
  transition: all 0.5s;
}

[data-button-action][data-action="add"]{
  transform: rotate(0deg);
  transition: transform 0.5s;
}

[data-button-action][data-action="close"]{
  transform: rotate(135deg);
  transition: transform 0.5s;
}

@media only screen and (min-width: 769px){}

/* @import "node_modules/bootstrap/scss/bootstrap" */